@charset "UTF-8";
/* CSS Document */
/* body{
	width:100%;
	height:100%;
	overflow:hidden;
	background-image:url(../images/bg.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	}
.login-bg{
	margin:0 auto;
	width:540px;
	}
.logo{
	margin:12% auto 20px auto;
	width:117px;
	height:121px;
	background-image:url(../images/logo_03.png);
	}
.sys-tit{
	margin:0 auto 35px auto;
	width:661px;
	height:47px;
	background-image:url(../images/title_07.png);
	}
.main-cnt{
	margin:0 auto;
	width:540px;
	height:390px;
	}
.left-logo{
	float:left;
	margin-right:40px;
	margin-top:20px;
	width:136px;
	height:286px;
	background-image:url(../images/left-logo_11.png);
	}
.right-chat{
	float:left;
	width:329px;
	height:408px;
	background-image:url(../images/chat-bg_11.png);
	}
.user-info{
	margin:30px auto 0px auto;
	width:252px;
	height:70px;
	}
.user-name{
	margin-bottom:6px;
	text-align:left;
	font-size:14px;
	line-height:20px;
	color:#c7d6f1;
	}
.user-input{
	width:252px;
	height:30px;
	background:url(../images/user_17.png) 5px center no-repeat;
	background-color:#e0e8f7;
	}
.user-input input{
	margin-left:26px;
	width:220px;
	height:30px;
	background-color:transparent;
	border:none;
	outline-style:none;
	color:#2355b5;
	}
.pwd-info{
	margin:0px auto 5px auto;
	}
.pwd-input{
	background-image:url(../images/pwd_20.png);
	}
.veri-info{
	margin:0 auto;
	margin-bottom:24px;
	width:252px;
	height:26px;
	}
.veri-input{
	float:left;
	width:90px;
	height:28px;
	overflow:hidden;
	}
.veri-input input{
	width:76px;
	height:26px;
	border:hidden;
	color:#2355b5;
	outline-style:none;
	}
.veri-code{
	float:left;
	width:90px;
	height:28px;
	background-image:url(../images/code_23.png);
	}
.btn-box{
	margin:0 auto;
	width:220px;
	height:36px;
	}
.btn_login{
	float:left;
	width:90px;
	height:34px;
	border:1px #6a97f0 solid;
	background-color:#346fdf;
	color:#fff;
	font-size:14px;
	}
.btn_login:hover{
	background-color:#2064d2;
	}
.btn_reset{
	float:right;
	width:90px;
	height:34px;
	border:1px #9f9f9f solid;
	background-color:#e2eaf9;
	color:#4b4b4b;
	font-size:14px;
	}
.btn_reset:hover{
	background-color:#cfd8e6;
	} */
*{
	margin:0;
	padding:0;
}
body,html{
    width: 100%;
    height: 100%;
    /* background-color: #284c6e; */
    background-image:url('../images/imgLogin/bluebg-right_06.png');
    font-family:'微软雅黑';

}
.rightBg{
	width:50%;
	height:100vh;
	position:absolute;
	left:0;
	background-image:url('../images/imgLogin/blue-bg_02.jpg');
	z-index:2;
}
.outDiv{
    width: 100%;
    height: 100%;
    
    background-repeat: no-repeat;
   /*  border:1px solid red;	 */
    background-position:80px 0;
    position:relative;
    z-index:3;
}
.mainDiv{
    width: 1100px;
    height: 100vh;
    margin: 0 auto;
    /* border: 1px solid red; */
    text-align: center;
/*     margin:0 auto; */
    background-image: url("../images/imgLogin/login-bg_04.jpg");

}
.Logo{
   /* border: 1px solid red;*/
    width: 600px;
    height: 54px;
    margin-top: 7%;
}
.loginArea{
    height: 385px;
    width: 100%;
    /*border: 1px solid red;*/
    background-image:url("../images/imgLogin/beijingtu_03.png");
    background-repeat: no-repeat;
    background-position: center 0;
    margin-top:15vh;
}
.loginInfo{
	padding-top:30px;
    text-align: left;
    width: 315px;
    height: 310px;
    padding-left: 45px;
    /*border: 1px solid red;*/
    display: inline-block;
    /* margin-top:15vh; */
    background-color: #f5f5f5;
    border-radius: 5px;
}
.loginInfo span{
    text-align: center;
    display: inline-block;
    width: 54px;
    height: 28px;
    background-color: #e6e6e6;
    vertical-align: top;
    border: 1px solid #dedede;
    border-right:none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.loginInfo span img{
	margin-top:3px;
}
.loginInfo .userName,.loginInfo .passWord,.loginInfo .yanzhengma{
    outline: none;
    height: 30px;
    width: 220px;
    border: 1px solid #dedede;
    border-left:none;
    padding-left: 10px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.loginInfo .yanzhengma{
    width:102px;
    border-radius: 5px;
    margin-right: 21px;
}
input{
    vertical-align: top;
}
.yanzhengmaArea{

	display:inline-block;
	
    width: 220px;
    height: 28px;;
    /* border: 1px solid #dedede; */
}
.yanzhengmaArea li{
	float:left;
	list-style:none;
	border:none
}
.loginInfo a{
    margin-left: 10px;
    font-size: 14px;
    color:#6190b4 ;
}
.loginBtn{
    width: 255px;
    height: 37px;
    background-image: url("../images/imgLogin/login_11.png");
    display: inline-block;
    border: 1px solid #299f77;
    border-radius: 5px;
    text-align: center;
    line-height: 37px;
    color: white;
    margin-left: 5%;
    margin-top: 35px;
    cursor:pointer;
}	
.tip{
	margin-top:3px;
	margin-left:56px;
	font-size:12px;
	color:red;
}
	
	