
/*ÏÂÀ­²Ëµ¥*/
ul.nav{
     list-style: none;
     margin-right: 50px;
     height: 120px;
     width:120px;
     z-index: 2;
     position: absolute;
}
.nav>li{
     float: left;
}
#liger{
	z-index: 1;
	position: absolute;
	width: 100%;
}
ul.nav a{
     display: block;
     text-decoration: none;
     width: 120px;
     height: 40px;
     text-align: center;
     line-height: 40px;
     color: white;
     background-color: #2f3e45;
     cursor: pointer;
 }
 .drop-down{
     position: relative;
     height: 50px;
 }
 .drop-down-content{
     padding: 0;
     opacity: 0.3;
     height: 0;
     overflow: hidden;
     transition: all 1s ease;
     position: absolute;
 }
 
 .drop-down-content li:hover a{
     background-color:red;
 }
 .nav .drop-down:hover .drop-down-content{
     opacity: 1;
     height: 80px;
 }
.arrow-down {
	position: absolute;
	top: 15px;
	right: 7px;
	width:0;
	height:0;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	border-top:10px solid white;
}
/****************8*/
#t_select{
	margin:10px 50px 20px 50px; 
	
}

#t_select span{
	font-size:15px;
}
#t_select input{
	height:25px;
}


#sort{
	background-color: #0099CC;
	color:white;
	border:none;
	width:80px;
	height:25px;
	cursor: pointer;
	border-radius:5px;
	margin-left:20px;
}

#sort2{
	background-color: #0099CC;
	color:white;
	border:none;
	width:80px;
	height:25px;
	cursor: pointer;
	border-radius:5px;
	margin-left:20px;
}
#t_select .con{
	margin-left:200px;
	height:50px;
	line-height:50px;
}
#t_select{
	height: 50px;
}
.con .con_div{
	height:50px;
	float: left;
}
.con .con_div2{
	height:50px;
}
.con .con_ex{
	width:120px;
	height:50px;
	
	text-align:center;
	float: right;
}
.con .con_ex2{
	width:120px;
	height:50px;
	
	text-align:center;
}
#export{
	cursor:pointer;
	margin-top:10px;
	border: 0px;
	width: 60px;
	height: 26px;
	line-height:26px;
	background-image: url(../../images/btn_export.png);
}

