#inputform{
	padding-top:20px;
	padding-left:30px;
}
.btnarea {
	margin-top:10px;
	margin-left: 20px;
}

.btn {
	text-align: center;
	width: 70px;
	height: 25px;
	background:#16B9D5;
	border: none;
	border-radius: 3px;
	color: white;
}

.btn:hover {
	background-color: #01AAEE;
}

.btn:focus {
	background-color: #3A9BE8;
}

.btn:active {
	background-color: #3A9BE8;
}