 *{
 	font-family: '微软雅黑'
 }
.area_cont{
	width: 99%;
	height: auto;
}
.item_area{
	width: 100%;
	height: 40px;
	text-align: left;
	line-height: 40px;
	border-bottom:solid 1px gray;
}
.pinyin_head{
	display: none;
	width: 100%;
	height: 40px;
	text-align: left;
	line-height: 40px;
	background: #f1f1f1
}
.orange{
	color: orange;
}
.textSize{
	font-size: 25px;
}