.deploy_cont{
	width: 100%;
	height: auto;
}
.deploy_from{
	width: 70%;
	height: auto;
	margin: 0 auto;
	padding-top: 25px;
}
.deploy_from_inp{
	width: 100%;
}
.dynamic_info tr td{
	margin-left: 20px;
	text-align: center; 
	height:100%;
}
.dynamic_info tr{
	height: 40px;
	}
.dynamic_text{
	width: 80%;
	height: auto;
	position: relative;
	left: 130px;
	border: solid 1px #f1f1f1;
	z-index:8;
}

.dynamic_button{
	top: 370px;
	width: 90%;
	height: 70px;
	margin: 0 auto;
	position: relative;
	left: 85px;
}
.button{
		width: 300px;
		margin:  20px auto;
}
.button1{
	width: 100px;
	color: white;
	background: red;
	height: 35px;
	margin: 0 20px;
	border-radius: 5px;
	font-size: 17px;
}
.button2{
	width: 100px;
	color: gray;
	background: #f1f1f1;
	height: 35px;
	margin: 0 20px;
	border-radius: 5px;
	font-size: 17px;
}
#poorfamilytd{
	display: none;
}